<!DOCTYPE html>
<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="./weather-icon.webp">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{error}}</h1>
    </div>
    {{>footer}}
</body>

</html>