<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="./weather-icon.webp">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>Served up from an Express Static File Call</h2>
        <img src="./image.jpg" class="portrait">
        <p>Created as {{title}}</p>
    </div>
    {{>footer}}
</body>

</html>