<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./weather-icon.webp">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>'Served up from an Express Static File Call'</h2>
        <p>Reach out to {{name}} at {{email}} or dial-in on {{contact}}</p>
    </div>
    {{>footer}}
</body>

</html>